@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

.header {
  width: 100%;
  height: 70px;
  background: #000;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 30px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}

.header-nav ul {
  display: flex;
}

.header-nav li {
  margin-right: 35px;
  font-size: 16px;
}

.header-nav a {
  color: #f2f2f2;
  text-decoration: none;
}

#eyecatch {
  height: 600px;
  background: url(../img/eyecatch.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
}

.eyecatch-logo {
  position: absolute;
  padding-top: 280px;
  padding-left: 100px;
  color: #fff;
  font-size: 35px;
  font-style: italic;
}

.news-wrap {
  display: flex;
  background-color: #fff;
  padding: 10px 120px 10px 10px;
  position: absolute;
  bottom: 0;
  right: 80px;
}

.news-title {
  font-size: 12px;
}

.news-title dd {
  margin: 5px;
}
.news-nav {
  display: flex;
  background-color: #000;
  padding: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.news-nav a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 16px;
}

.mission-wrap {
  height: 500px;
  background: linear-gradient(180deg, #000 80%, #fff 20%);
  position: relative;
  display: flex;
}

.mission-wrap h2 {
  color: #fff;
  font-size: 20px;
  position: absolute;
  margin: 125px 200px 0 420px;
}

.mission-wrap p {
  color: #fff;
  font-size: 12px;
  padding: 15px;
  margin: 160px 420px 0 405px;
  position: absolute;
  line-height: 1.5;
}

.mission-link {
  padding: 10px 20px;
  font-size: 12px;
  color: #000;
  background-color: #fff;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 270px;
  left: 420px;
}

.mission-img {
  width: 30%;
  position: absolute;
  margin-top: 75px;
  right: 80px;
}

.service-wrap {
  height: 1600px;
  background-color: #e9e9e9;
  position: relative;
}

.service-wrap h2 {
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

.service-img1 {
  width: 50%;
  top: 880px;
  left: 0;
  position: absolute;
}

.service-img2 {
  width: 50%;
  top: 70px;
  right: 0;
  position: absolute;
}

.service-content1 {
  width: 700px;
  height: 380px;
  background-color: #fff;
  position: absolute;
  top: 180px;
  left: 350px;
}

.service-content1 h3 {
  font-size: 14px;
  margin-top: 90px;
  margin-left: 80px;
}

.service-content1 p {
  font-size: 14px;
  margin-top: 25px;
  margin-left: 80px;
  margin-right: 80px;
  line-height: 1.5;
}

.service-link1 {
  padding: 10px 20px;
  color: #000;
  border: 1px solid #000;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  margin-top: 30px;
  margin-left: 490px;
}

.service-content2 {
  width: 700px;
  height: 380px;
  background-color: #fff;
  position: absolute;
  top: 945px;
  right: 400px;
}

.service-content2 h3 {
  font-size: 14px;
  margin-top: 90px;
  margin-left: 80px;
}

.service-content2 p {
  font-size: 14px;
  margin-top: 25px;
  margin-left: 80px;
  margin-right: 80px;
  line-height: 1.5;
}

.service-link2 {
  padding: 10px 20px;
  color: #000;
  border: 1px solid #000;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  margin-top: 30px;
  margin-left: 490px;
}

.company-wrap {
  height: 700px;
  background-color: #fff;
}

.company-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.company {
  margin-top: 80px;
  position: relative;
}

.company-img {
  width: 880px;
  height: 300px;
  margin-right: 50px;
}

.company h2 {
  font-size: 30px;
  color: #fff;
  top: 110px;
  left: 350px;
  position: absolute;
}

.company-link {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  top: 170px;
  left: 390px;
  letter-spacing: 0.1em;
  cursor: pointer;
  position: absolute;
}

.recruit {
  margin-top: 80px;
  position: relative;
}

.recruit-img {
  width: 100%;
  height: 300px;
}

.recruit h2 {
  font-size: 30px;
  color: #fff;
  top: 110px;
  left: 350px;
  position: absolute;
}

.recruit-link {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  top: 170px;
  left: 370px;
  letter-spacing: 0.1em;
  cursor: pointer;
  position: absolute;
}

.FAQ {
  width: 80%;
  height: 100px;
  background-color: #000;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.FAQ-title {
  font-size: 30px;
  color: #fff;
  padding: 20px;
}

.FAQ-link {
  width: 100%;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  display: block;
  text-align: center;
}

.contact-wrap {
  height: 500px;
  background: url(../img/contact-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-wrap h2 {
  padding: 120px 0 10px 0;
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.contact-wrap h3 {
  font-size: 16px;
  color: #fff;
  font-weight: normal;
  text-align: center;
}

.contact-wrap h1 {
  color: #fff;
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  margin-top: 30px;
}

.contact-wrap p {
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
}

.button-submit {
  text-align: center;
}

.button {
  font-size: 12px;
  color: #fff;
  padding: 10px 15px;
  margin: 35px 0;
  background: none;
  appearance: none;
  outline: none;
  border: 1px solid #fff;
}

.header {
  height: 70px;
  background: #000;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 30px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}

.header-nav ul {
  display: flex;
}

.header-nav li {
  margin-right: 35px;
  font-size: 16px;
}

.header-nav a {
  color: #f2f2f2;
  text-decoration: none;
}

.footer {
  height: 20px;
  font-size: 12px;
  color: #fff;
  background-color: #000;
  padding: 10px;
  text-align: center;
}
